.container {
	width: 85%;
}
#alert {
    cursor: pointer;
    display: none;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 238px;
    height: min-content;
    background: #f55d2dfa;
    padding: 13px 10px;
    font-size: 19px;
    text-align: center;
    color: #fff;
    border-radius: 7px;
}
body {
    background-color: #ccc;
}
header {
	padding: 20px 0;
	background: rgb(0, 0, 0);
    color: #fff;
}
header .logo {
    font-size: 28px;
	color: #fff;
    font-weight: bold;
	text-decoration: none;
}
header .userName {
    font-size: 22px;
    color: coral;
}
header .home {
    font-size: 22px;
    color: #fff;
}
.home {
    font-size: 22px;
    color: #000;
}

/*box form*/
.box {
    background: #ccc;
    height: max-content;
    width: 100%;
    padding: 25px 0;
    position: relative;
}

.box h2{
    margin: 10px 0px;
    font-size: 32px;
}

.box form{
    width: 100%;
    height: max-content;
    border: 1px solid #000;
    padding: 25px 40px;
    border-radius: 20px;
    box-shadow: 0 0 4px 0px;
    background: #c7c9cb;
}

form label  {
    font-size: 23px;
    margin-top: 25px;
}

input {
    width: 100%;
    min-height: 37px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #000;
}

label h3 {
    margin-top: 10px;
    margin-bottom: -3px;
    width: max-content;
}

textarea#intoText {
    width: 90%;
    min-height: 60px;
    padding: 5px;
    font-size: 15px;
}
.text-box {
    width: 100%;
    height: max-content;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 0;
}
form .btn {
    padding: 10px;
}
.text-box label h3 {
    margin-top: 0px;
}
.text-box textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
}

textarea#text {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    font-size: 15px;
}

@media only screen and (max-width: 760px) {
    .container {
        width: 90%;
    }
    .box form {
        padding: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        width: 97%;
    }
    .box form {
        padding: 10px;
    }
}